<h1>A fundraising page for <%= @organization.full_name %> has been suspended on AlumniFidelity</h1>
<p><label>Reason:</label> <%=@message%></p>
<p>Please view the fundraising page: <a href="<%=LocalURL%>/<%=@campaign.url%>.html"><%=@campaign.name%></a>.
