<%puts "~~~~~~~~~~~~~~~~~~~~~~~~~~1~~~~~~~~~~~~~~~~~~~~~~"%>
<!--<%#*-We're glad you've joined AlumniFidelity.  Now you can create a personal fundraising page for any school or organization that is registered with us.  Here's how:%>
<%#*<br>%>
<%#*<br> - Log in to <a href="<%= LocalURL %>">http://alumnifidelity.com</a>%>
<%#*<br> - At the top left, click "Create a Fundraising Page" and follow the prompts.%>
<%#*<br>%>
<%#*<br>If you have any questions, you can always email us at <a href="mailto:support@alumnifidelity.com">support@alumnifidelity.com</a> or call at (202) 680-8925.%>
<%#*<br>%>
<%#*<br>If you'd like to register an organization with us, please follow this link: <a href="<%= LocalURL %>/home/contact_signup?as_org=1">http://alumnifidelity.com/home/contact_signup?as_org=1</a>%>
<%#*<br>%>
<%#*<br>Thanks,%>
<%#*<br>%>
<%#*<br>AlumniFidelity%>-->

We're glad you've joined AlumniFidelity.
<br><br>
<b>If you are an administrator with your organization:</b>
<br><br>
You may get started right away with customizing your organization's fundraising page templates and settings.Simply returning to <a href="<%= LocalURL %>">http://alumnifidelity.com</a> and log in.Our complete admin user guide <%=link_to @help , "#{@help}"%> will tell you everything you need to know!
<br><br>
<b>If you are an individual supporter of an organization:</b>
<br><br>
Now you can create a personal fundraising page for any school or organization that is registered with us. Here's how:
<br><br>
  <%puts "~~~~~~~~~~~~~~~~~~~~~~~~2~~~~~~~~~~~~~~~~~~~~~~~~"%>

- Log in to <a href="<%= LocalURL %>">http://alumnifidelity.com</a>
<br><br>
  <%puts "~~~~~~~~~~~~~~~~~~~~~~~~3~~~~~~~~~~~~~~~~~~~~~~~~"%>
- At the top left, click "Create a Fundraising Page" and follow the prompts.
<br><br>
<%puts "~~~~~~~~~~~~~~~~~~~~~~~~4~~~~~~~~~~~~~~~~~~~~~~~~"%>
If you have any questions, you can always email us at <a href="mailto:support@alumnifidelity.com">support@alumnifidelity.com</a> or call at (202) 680-8925.
<%puts "~~~~~~~~~~~~~~~~~~~~~~~~5~~~~~~~~~~~~~~~~~~~~~~~~"%>
<br><br>
<%puts "~~~~~~~~~~~~~~~~~~~~~~~~6~~~~~~~~~~~~~~~~~~~~~~~~"%>
And you can always register additional organizations <a href="http://alumnifidelity.com/register/organization">http://alumnifidelity.com/register/organization</a> so that their supporters can raise contributions for them online!
<%puts "~~~~~~~~~~~~~~~~~~~~~~~~~7~~~~~~~~~~~~~~~~~~~~~~~"%>
<br><br>
Thanks,
<br><br>
AlumniFidelity
<br>