<h1>New user_broadcast</h1>

<% form_for(@user_broadcast) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :broadcast_id %><br />
    <%= f.text_field :broadcast_id %>
  </p>
  <p>
    <%= f.label :campaign_id %><br />
    <%= f.text_field :campaign_id %>
  </p>
  <p>
    <%= f.label :setting %><br />
    <%= f.text_field :setting %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_broadcasts_path %>
