<% content_for :head do %>
<%= render :partial=>'layouts/text_editor' %>
<% end %>

<h1>All Users</h1>

<form action="/users/contact" method="POST">
	
<div id="user_list" style="display:block;">
	
	<ul class="generic_link_list message_actions_list">
		<li>Actions:</li>
		<li><a href="#" onclick="mark('all');return false">Select All</a></li>
		<li><a href="#" onclick="mark('none');return false">Select None</a></li>
	</ul>


	<table class="generic_selectable_list all_users_list">
		<% @users.each do |u| %>
		<tr id="row_<%= u.id %>">
			<td class="select_column">
				<input type="checkbox" name="contacts[]" value="<%= u.email %>" id="contact_<%= u.id %>" onclick="select_row(<%= u.id %>)" />
			</td>
			<td class="name_column">
				<label for="contact_<%= u.id %>"><%= u.email %></label>
			</td>
			<td>
				<label for="contact_<%= u.id %>"><%= u.name %></label>
			</td>
		</tr>
		<% end %>
	</table>

	<input type="button" value="Send Email" onclick="toggle_to_email();return false">
</div>

<div id="email_form" style="display:none;">
	<table class="generic_form">
		<tr>
			<th>Subject:</th>
			<td><input type="text" name="subject" value="Subject" size="45" /></td>
		</tr>

		<tr>
			<th class="tall_label">Message:</th>
			<td class="email_body">
				<textarea name="body" rows="15" cols="30" id="promotion_body" class="promotion_body">Body</textarea>
			</td>
		</tr>
	
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Send" /> or 
				<a href="#" onclick="toggle_to_users();return false">cancel</a>
			</td>
		</tr>
	</table>
</div>

</form>

<script>
var select_row = function(uid) {
	if ($("row_" + uid).className == "selected") {
		$("row_" + uid).className = "";
		$("contact_" + uid).checked = false;
	} else {
		$("row_" + uid).className = "selected";
		$("contact_" + uid).checked = true;
	}
}

var user_ids = <%= @users.map(&:id).to_json %>;

var mark = function(which) {
	for(var i=0; i<user_ids.size(); i++) {
		if (which == "none") {
			$("row_" + user_ids[i]).className = "";
			$("contact_" + user_ids[i]).checked = false;
		} else {
			$("row_" + user_ids[i]).className = "selected";
			$("contact_" + user_ids[i]).checked = true;
		}
	}
}

var toggle_to_email = function() {
	$('user_list').style.display = "none";
	$('email_form').style.display = "block";
}

var toggle_to_users = function() {
	$('user_list').style.display = "block";
	$('email_form').style.display = "none";
}

render_editor();
</script>