<h1>Editing bumper_sticker</h1>

<% form_for(@bumper_sticker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :campaign_id %><br />
    <%= f.text_field :campaign_id %>
  </p>
  <p>
    <%= f.label :campaign_text %><br />
    <%= f.text_field :stickertext %>
  </p>
  <p>
    <%= f.label :primary_color %><br />
    <%= f.text_field :primarycolor %>
  </p>
  <p>
    <%= f.label :secondary_color %><br />
    <%= f.text_field :secondarycolor %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @bumper_sticker %> |
<%= link_to 'Back', bumperstickers_path %>
